.background {
    -fx-background-color: #FCFCFC;
}

/*
 * ================================================================
 * TitleBar Styling
 * ================================================================
 */

.titleBar {
    -fx-spacing: 10;
    -fx-background-color: white;
    -fx-font: 16px ;
}

.titleBar #close {
    -fx-label-padding: 0 0 0 0;
}

/*
 * ================================================================
 * TableView Styling
 * ================================================================
 */



.align-center {
  -fx-alignment: CENTER;
}

.align-right {
  -fx-alignment: CENTER-RIGHT;
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: #2B236F;
    -fx-font-family: "Verdana";
}

.table-view {
    -fx-table-cell-border-color: #F9F9FA;
    /*-fx-table-header-border-color: aliceblue;*/
    -fx-padding: 5;
}

.table-cell {
    -fx-font-size: 13px;
   /* -fx-font-family: ;*/
}

.table-row-cell {
    -fx-cell-size: 30px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-padding: 3 3 3 3;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 11;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        aliceblue;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Verdana";
    -fx-alignment: center;
     -fx-text-fill: #1E184D;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.text-field {
    -fx-font-size: 11pt;
    -fx-font-family: "Georgia";
}
