/*@@author A0112077N */
.background {
    -fx-background-color: #FCFCFC;
}

/*
 * ================================================================
 * Font Declarations
 * ================================================================
 */
@font-face {
	font-family: Georgia;
	font-style: normal;
	src: url("/Time4Work/Time4WorkUI/fonts/Georgia.ttf");
}

@font-face {
	font-family: tehuti;
	font-style: normal;
	src: url("/Time4Work/Time4WorkUI/fonts/tehuti-book.otf");
}

/*
 * ================================================================
 * TableView Styling
 * ================================================================
 */

.align-center {
  -fx-alignment: CENTER;
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: #2B236F;
    -fx-font-family: "tehuti";
}

.table-view {
    -fx-padding: 5;
}

.table-cell {
    -fx-font-size: 13.5px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-padding: 3 3 3 3;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 13;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        aliceblue;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 13pt;
    -fx-font-family: "tehuti";
    -fx-alignment: center;
     -fx-text-fill: #1E184D;
}

.table-view:focused .table-row-cell:filled:focused:selected {
  	-fx-background-color: -fx-focus-color;
}

.text-field {
    -fx-font-size: 11pt;
    -fx-font-family: "Georgia";
}
